.codeslide h1 {
    border: 0px !important;
    background-color: white !important;
    color: black  !important;
    z-index: 1000;
}

a, a:checked, a:visited {
    color: rgb(0, 0, 238);
}

pre[class*="language-"]:before, pre[class*="language-"]:after {
    display: none !important;
}
